
*{padding: 0; margin: 0; border: none; outline: none; box-sizing: border-box;}

img{max-width: 100%;}

body{color: #1A1A1A; font-family: 'Archivo', sans-serif; font-size: 16px; line-height: 125%; padding-top: 100px; }

p{margin-bottom: 40px; font-size: 20px; line-height: 32px;}
a{text-decoration: none; color: #1A1A1A;}
a:hover{text-decoration: none; color: #1C2B77;}

h1, h2, h3{font-family: 'Gotu', sans-serif; font-weight: 400;}

h1{font-size: 48px; color: #1C2B77;}
h2{font-size: 32px; color: #1C2B77; margin-bottom: 24px;}
h3{font-size: 24px; color: #1C2B77; margin-bottom: 24px;}

.fcBlue{color: #1C2B77;}
.fcLightBlue{color: #E4EFFF;}
.bgGray{background: #D9D9D9;}
.wrapper {position: relative;  margin-left: auto; margin-right: auto; width: 100%; max-width: 1440px;}

/* Header */
header{background: #f1f0ed; position: relative; box-shadow: 0 3px 3px 0 #D9D9D9; position: fixed; top: 0; z-index: 9; width: 100%;}
header .wrapper{background: #FAF9F7; display: flex; align-items: center; justify-content: space-between; padding: 0 96px;} 
header ul{ margin: 0 auto; padding: 48px 0 16px; list-style: none; display:flex; align-items: center; justify-content: center;}
header ul li a{display: block; white-space: nowrap; padding: 8px 16px; text-decoration: none; color: #1A1A1A; font-size: 16px; font-weight: 700;}
header .logo{display: inline-block;}
header .hLeft a{display: flex; align-items: flex-end;}
header .hLeft .cName{margin-bottom: 8px; width: 75%;}
header .mob-menu{display: none;}

/* Banner */
.banner{background: #f1f0ed;}
.banner .wrapper{position: relative;}
.banner .mBanner{width: 100%;}
.banner .bannerTop{position: absolute; bottom: 20%; width: 100%; text-align: center;}
.banner .bannerTop  h1{margin-bottom: 32px; }
.banner .bannerTop .bannerBtn{height: 40px; box-shadow: 0px 2px 4px 0px #00000040; color: #1C2B77; font-size: 14px; display: inline-flex; align-items: center; padding: 0 18px; background: #E4EFFF; border-radius: 24px; border: none;}
.banner .bannerTop .bannerBtn img{margin-right: 8px;}
.banner .bannerTop .bannerBtn:hover{background: #ffffff;}


/* Intro */
.intro{background: #f1f0ed;}
.intro .wrapper{ padding: 64px 0 24px; background: #FAF9F7;}
.intro .wrapper .smCol{width: 65%; margin: 16px auto 64px; font-size: 24px; line-height: 32px;}
.intro .sec-wrapper{ display: flex;}
.intro .sec-wrapper .sec-Left{width: 50%;}
.intro .sec-wrapper .sec-Left img{width: 100%; height: 100%; object-fit: cover;}
.intro .sec-wrapper .sec-Right{width: 50%; padding:0 96px 0 48px; display: flex; flex-direction: column;}

.intro .sec-wrapper figure{margin: 24px auto 32px; /* border-radius: 50%; width: 120px; height: 120px; overflow: hidden; */ } 
/*.intro .sec-wrapper figure img{  width:100%; height: 100%; object-fit: cover; }*/

/* Service */
.services{background: #f1f0ed;}
.services .wrapper{ background: #FAF9F7; padding: 60px 96px 40px;}
.services .sm-col{width: 45%;}
.services .services-wrapper{display: flex; flex-wrap: wrap; padding-bottom: 40px;}
.services .services-wrapper .sItem{width: 50%; text-align: center; padding: 0 40px; margin:40px 0; }
.services .services-wrapper .sItem p{font-size: 24px; line-height: 36px;}
.services .services-wrapper .sItem p strong{color: #1C2B77;}
.services .services-wrapper .sItem figure{margin: 8px auto 24px; border-radius: 50%; border: 40px solid #fff; width: 200px; height: 200px; overflow: hidden;}
.services .services-wrapper .sItem img{ width:100%; height: 100%; object-fit: cover;}
.services .fullWrap{display: flex; flex-wrap: wrap; margin:0 auto; width: 100%; max-width: 1440px;}
.services .fullWrap .colLeft{width: 50%;}
.services .fullWrap .colLeft img{width: 100%; height: 100%; object-fit: cover;}
.services .fullWrap .colRight{width: 50%; padding: 48px 96px 0 64px; background: #E4EFFF; text-align: center; }
.services .fullWrap .colRight img{ margin: 24px 0; width: 80px; height: auto;}
.services .fullWrap .colRight p{font-size: 28px; line-height: 48px; text-align: left; font-family: 'Gotu', sans-serif; font-weight: 400;}
.services .crow{display: flex; flex-wrap: wrap; justify-content: space-between;}
.services .crow .col-l{width: 50%; padding-right: 68px;}
.services .crow .col-r{width: 50%; padding-left: 68px;}


/* Team */
.team{background: #f1f0ed;}
.team .wrapper{background: #faf9f7; padding-bottom: 96px;}
.team h2{ text-align: center; background: #fff; padding: 63px 0 45px;  margin: 0; font-size: 48px;}
.team h3{font-size: 32px; line-height: 24px; margin-bottom: 40px; color: #1A1A1A; text-align: center;}
.team h3 span{font-size: 28px; font-family: 'Archivo', sans-serif; display: block; color: #1C2B77; margin:16px 0 0 0;}
.team .temWrap{display: flex; }
.team .temWrap .temLeft{width: 50%; padding: 64px 64px 24px 96px;}
.team .temWrap .temLeft p{font-size: 24px; line-height: 36px;}
.team .temWrap .temRight{width: 50%;}
.team .temWrap .temRight img{width: 100%; height: 100%; object-fit: cover;}

/* Review */
.review{background: #f1f0ed;}
.review .wrapper{ background: #fff; padding: 64px 80px;}
.review .reviewTop{text-align: center; width: 60%; margin: 0 auto -96px; transform: translateY(-124px);}
.review .reviewTop p{font-size: 24px; line-height: 42px;}
.review .reviewTop figure{/*border-radius: 50%; width: 120px; height: 120px; overflow: hidden;*/  margin: 0 auto 32px;}
/* .review .reviewTop figure img{ width:100%; height: 100%; object-fit: cover;} */
.review .cardWrap{display: flex; flex-wrap: wrap; align-items: flex-start;}
.review .cardWrap .rcard{width: calc(25% - 32px); border-radius: 8px; text-align: center; margin: 0 16px; padding:16px 16px 24px 16px; box-shadow: 0px 4px 4px 0px #00000033;}
.review .cardWrap .rcard figure{border-radius: 50%; width: 80px; height: 80px; overflow: hidden;  margin: 0 auto -16px; transform: translateY(-40px);}
.review .cardWrap .rcard figure img{ width:100%; height: 100%; object-fit: cover;}
.review .cardWrap .rcard p{margin: 0; font-size: 16px; line-height: 24px;}
.review .more{color: #999999; font-size: 12px; margin-top: 32px; display: block;}
.review .more:hover{color: #1C2B77;}
.review .starsec{display: block; margin: 8px 0 24px;}
.review .starsec .fa-star{color: #999999; font-size: 18px;}
.review .starsec .checked {color: #FFC700;}


/* Contact */
.contact{text-align: center; background: #f1f0ed;}
.contact .wrapper{ background: #FAF9F7; padding: 72px 96px 32px;}
.contact  p{font-size: 24px; line-height: 44px; width: 67%; margin: 0 auto 40px;}
.contact .contacwrap figure{/*border-radius: 50%; width: 120px; height: 120px; overflow: hidden;*/ margin: 8px auto 32px;}
/* .contact .contacwrap figure img{ width:100%; height: 100%; object-fit: cover;} */
.contact .contacwrap h2{font-size: 32px; color: #000;}
.contact .contacwrap h2 span{color: #1C2B77; display: block; margin-top: 8px;}
.contact .contacwrap p{font-size: 24px; line-height: 44px;}


/* footer */
.footer{background: #f1f0ed;}
.footer .wrapper{ background: #FAF9F7; padding: 0 96px;}
.footer p{padding: 16px 0; text-align: right; display: block; margin: 0;}


@media (max-width: 1400px){
    /* .services .services-wrapper .sItem p {font-size: 22px;} */
}

@media (max-width: 1200px){
    body{padding-top: 80px;}
    h1 {font-size: 40px;}
    h2{font-size: 28px;}
    h3{font-size: 20px;}
    p {font-size: 18px; line-height: 30px;}

    header .wrapper{padding: 0 32px; align-items: flex-end;}
    header .wrapper .hLeft{padding: 8px 0 16px;}
    header ul{padding: 0 0 10px;}
    header ul li a{font-size: 14px;}

    .intro .wrapper .smCol{font-size: 20px;}
    .intro .sec-wrapper .sec-Right{padding: 0 32px 0 32px;}
    .intro .sec-wrapper figure{margin: 8px auto 32px;}

    .services .services-wrapper .sItem p {font-size: 20px;line-height: 32px;}
    .services .fullWrap .colRight p{font-size: 24px; line-height: 40px;}
    .services .wrapper{padding: 40px 32px 32px;}
    .services .services-wrapper .sItem figure{border: 24px solid #fff; width: 180px; height: 180px;}
    .services .fullWrap .colRight{padding: 40px 32px 0 32px;}
    .services .sm-col {width: 60%;}

    .team h2{font-size: 40px;}
    .team h3{font-size: 28px;}
    .team h3 span {font-size: 24px;}
    .team .temWrap .temLeft p{font-size: 20px; line-height: 32px;}
    .team .temWrap .temLeft{padding: 32px 24px 24px 32px;}

    .review .reviewTop p {font-size: 20px; line-height: 36px;}
    .review .wrapper{padding: 64px 16px;}

    .contact .wrapper{padding: 72px 32px 24px;}
    .contact p {font-size: 20px; line-height: 40px; width: 90%;}
    .contact .contacwrap h2 {font-size: 28px;}
    .contact .contacwrap p {font-size: 20px; line-height: 40px;}
    .footer .wrapper{padding: 0 32px;}
}


@media (max-width: 992px){
    .intro .wrapper .smCol{width: 90%;}
    .intro .sec-wrapper figure{margin: 8px auto 16px;}
    .intro .sec-Right img{ height: 50px;}

    .services .services-wrapper .sItem figure {border: 16px solid #fff;  width: 150px; height: 150px;}
    .services .sm-col {width: 90%;}
    .services .services-wrapper .sItem{padding: 0 24px;}
    .services .fullWrap .colRight{padding: 24px;}
    .services .crow .col-l{padding-right: 32px;}
    .services .crow .col-r{padding-left: 32px;}



    .review .reviewTop figure{margin: 0 auto 48px;}
    .review .reviewTop figure img{height: 50px;}
    .review .reviewTop{width: 90%;     transform: translateY(-96px); margin: 0 auto 0px;}
    .review .cardWrap .rcard{width: calc(50% - 32px);     margin: 0 16px 48px;}

}


@media (max-width: 767px){
    body{padding-top: 66px;}
    h1 {font-size: 32px;}
    h2{font-size: 24px;}
    h3{font-size: 18px;}
    p {font-size: 16px; line-height: 24px; margin-bottom: 20px;}


    header .wrapper{padding: 8px 9px 8px 24px; align-items: center;}
    header .wrapper .hLeft{padding: 0;}
    header .logo img{height: 50px;}
    header .hLeft .cName{display: none;}
    header .mob-menu{display: inline-block; color: #1C2B77; font-size: 24px; font-weight: 400;padding: 13px 15px; background: transparent;}
    header ul{flex-direction: column; max-height: 0; overflow: hidden; transition: all 0.3s ease-in-out;  padding:0; position: absolute; top: 100%; left: 0; width: 100%; background: #E4EFFF; align-items: flex-start;}
    header ul.collapse.show{max-height: 300px;}
    header ul li{width: 100%; border-bottom: 1px solid #FAF9F7;}
    header ul li:last-child{border: none;}
    header ul li a{padding: 10px 24px;}

    .banner .bannerTop h1 {margin-bottom: 16px;}

    .intro .wrapper{padding: 24px;}
    .intro .wrapper .smCol{width: 100%; font-size: 18px; line-height: 24px; margin: 0px auto 48px;}
    .intro .sec-wrapper{flex-direction: column;}
    .intro .sec-wrapper .sec-Left{width: 100%;}
    .intro .sec-wrapper .sec-Right{width: 100%; padding: 0;}


    .services .wrapper {padding: 24px;}
    .services .sm-col{width: 100%;}
    .services .services-wrapper .sItem {padding: 0; width: 100%; margin: 32px 0;}
    .services .services-wrapper .sItem p {font-size: 18px;}
    .services .crow .col-l{width: 100%; padding: 0; margin-bottom: 24px;}
    .services .crow .col-r{width: 100%; padding: 0;}
    .services .fullWrap .colLeft{width: 100%;}
    .services .fullWrap .colRight{width: 100%;}
    .services .services-wrapper .sItem figure{width: 120px; height: 120px;}
    .services .fullWrap .colRight p {font-size: 20px; line-height: 32px;}
    

   
    .team h2{font-size: 32px; padding: 32px 0 24px;}
    .team h3 {font-size: 24px;}
    .team h3 span {font-size: 20px; margin: 12px 0 0 0;}
    
    .team .temWrap{flex-wrap: wrap;}
    .team .temWrap .temLeft{width: 100%; padding: 32px 24px;}
    .team .temWrap .temRight{width: 100%;}
    .team .temWrap .temLeft p{font-size: 18px;line-height: 24px;}

    .review .wrapper{padding: 24px;}
    .review .reviewTop {width: 100%;}
    .review .reviewTop p {font-size: 18px; line-height: 32px;}
    .review .cardWrap .rcard{width: 100%; margin: 0 0 68px;}
    .review .cardWrap .rcard:last-child{margin: 0 0 24px;}
    .review .cardWrap .rcard p{font-size: 14px;}

    .contact .wrapper{padding: 24px;}
    .contact p {width: 100%; font-size: 18px; line-height: 32px;}
    .contact .contacwrap h2{font-size: 24px;}
    .contact .contacwrap p{font-size: 18px; line-height: 32px;}
    .contact .contacwrap figure img{height: 50px;}

    .footer p{text-align: center;}
    .logiImage { max-width: 75% !important;margin-left: 5px;}
}